In [1]:


import pandas as pd
import numpy as np
from datetime import datetime
import warnings
%matplotlib inline 
import matplotlib as mpl
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
import plotly
from IPython.display import HTML
from IPython.display import display
import json # library to handle JSON files
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from sodapy import Socrata

#Data Load
df = pd.read_csv('Data/Traffic_Stop_Dataset.csv')

cols= ['Year','Date','Race','Gender','Driver_search','Vehicle_search','Citation','Age','Reason','Grid','GridLocation', 'Count']
df.columns= cols

df.head(2)

,YEAR OF STOP,DATE OF STOP,RACE OF DRIVER,GENDER OF DRIVER,DRIVER SEARCHED?,VEHICLE SEARCHED?,CITATION ISSUED?,AGE OF DRIVER,REASON FOR STOP,POLICE GRID NUMBER,LOCATION OF STOP BY POLICE GRID,COUNT
0,2001,01/01/2001 12:11:00 AM,White,Female,No,No,No,NaN,No Data,55.0,"(44.97391713, -93.06089457)",1
1,2001,01/01/2001 12:14:00 AM,White,Male,No,No,No,NaN,No Data,106.0,"(44.95211807, -93.15173337)",1

In [2]:
cols= ['Year','Date','Race','Gender','Driver_search','Vehicle_search','Citation','Age','Reason','Grid','GridLocation', 'Count']
df.columns= cols