### Personal Opinion as a former Education Data Analyst

In 2015, I was the Education Data Analyst for South Washington County Schools for over two years, and South Washington schools was the third largest school district in the state. I have some knowledge on assessment and standardized testing, and in my personal opinion the Minnesota Department of Education (MDE), places too much emphasis on standardized testing. I can list several reasons on how standardized testing is inequitable and how the state evaluation methods is systematically unjust. Putting all that aside, state testing still matters as it can influence people's decision in choosing schools, and testing determine many things such as resources, and additional burden to school administrations. For this reason, it is worth informing you about the trends in Saint Paul Public Schools. I'll be replicating some of the diagnostic reports that I have implemented in the past.

Here are several things to keep in mind when processing the data as it may be alarming and encourage the reader to be curious:

* How can we address the challenges right NOW? Investing only on early childhood programs (albeit easier to do) does not address the systemic challenges now? 
* If standardized testing is not working for our city/communities, what are some existing alternatives? Or do we create, inclusively, a different curriculum/ academic standard that is aligned to community needs
* How does charter schools influence SPPS? (I will not evaluate this)
* What is the role of citizens in influencing SPPS policies, and state/federal policies?
* What is the role of parents/students influencing SPSS
* What does your local educators have to say about this?
* Where are we spending our money, and how do we divert to things that matter?

### About the Data

The datasets are retrieved from MDE Data Center [Data Reporting Web Portal](https://public.education.mn.gov/MDEAnalytics/DataTopic.jsp?TOPICID=1) I selected the following specifications below, which lists the three files for each respective subjects: Math, Reading, and Science. These reports combine both the Minnesota Comprehensive Assessment (MCA) and Minnesota Test of Academic Skills (MTAS). The MCA is the standardized test of Minnesota and has to follow both federal and state guidelines. The MTAS is an alternate assessment based on alternate achievement standards for students with the most significant cognitive disabilities. The subject testing grade breakdown is below, notice Science MCA is given in staggered years, and high school testing for all subjects has a gap from 8th grade. Personally, I would not give much weight on the high school tests because it is not mandatory to pass to graduate high school, and high schoolers will place more effort on college entrance examinations such as the Amercian College Testing (ACT). On the SPPS website, you can view the ACT results through an [interactive report.](https://www.spps.org/Page/28069) The testing itself is evaluated into four categories: Does Not Meet, Partially Meet, Meet, and Exceed Standards. Proficiency is the percentage of Meet and Exceed standard students.

In addition, the state of Minnesota is concerned with several achievement gaps, 

Upon recently, parents and students can option out from taking the MCA (this may have some consequences)  


Saint Paul Public Schools (SPPS) is the second largest school district in Minnesota with over 44 elementary schools, 6 intermediate schools, and 5 high schools. Due to the vast number of schools, and inadequate software it is hard to evaluate the individual schools on achievement gaps. 


This report makes the data much more accessible than the Minnesota Report Card and/or from the SPPS website. The report is broken down by Schools

# Elementary Schools: District/State Level <a name="elem"></a>

#### Reading Data

In [12]:
Reading.query('Num==0 and Grade in (3,4,5)')

,School,Num,Grade,Prof,White_Prof,POC_Prof,Black_Prof,Male_Prof,Female_Prof,FRPL_Prof,NonFRPL_Prof
161,District_All,0.0,3.0,0.3525,0.6891,0.2558,0.2270,0.3281,0.3768,0.2162,0.6019
162,District_All,0.0,4.0,0.3463,0.7038,0.2547,0.1975,0.3293,0.3646,0.2267,0.5962
163,District_All,0.0,5.0,0.4658,0.7725,0.3833,0.3072,0.4259,0.5066,0.3407,0.7223
168,State_All,0.0,3.0,0.5461,0.6366,0.3847,0.3242,0.5163,0.5771,0.3555,0.6720
169,State_All,0.0,4.0,0.5543,0.6534,0.3805,0.3072,0.5257,0.5846,0.3568,0.6860
170,State_All,0.0,5.0,0.6577,0.7492,0.4919,0.4179,0.6263,0.6903,0.4741,0.7798

#### Math Data

In [13]:
Math.query('Num==0 and Grade in (3,4,5)')

,School,Num,Grade,Prof,White_Prof,POC_Prof,Black_Prof,Male_Prof,Female_Prof,FRPL_Prof,NonFRPL_Prof
161,District_All,0.0,3.0,0.3966,0.7251,0.3021,0.2486,0.4268,0.3664,0.2625,0.6425
162,District_All,0.0,4.0,0.3903,0.7227,0.3046,0.2259,0.3993,0.3804,0.2790,0.6229
163,District_All,0.0,5.0,0.3127,0.6074,0.2332,0.1432,0.3153,0.3100,0.2070,0.5296
168,State_All,0.0,3.0,0.6560,0.7612,0.4680,0.3849,0.6796,0.6314,0.4518,0.7905
169,State_All,0.0,4.0,0.6387,0.7465,0.4492,0.3499,0.6530,0.6235,0.4323,0.7762
170,State_All,0.0,5.0,0.5204,0.6158,0.3475,0.2580,0.5297,0.5107,0.3206,0.6532

#### Science Data

In [ ]:
Science.query('Num==0 and Grade in (5)')

## ES <a name="elem1"></a>

#### Enroll Data

In [14]:
Enroll.query('Num in (518,557,483,545,462)')

,Num,School,Tot_Enroll,Male%,White%,Black%,Asian%,FRP%,ELL%,SPED%,Homeless%
13,462.0,L'Etoile Du Nord French Immersion U,304.0,39.80,53.62,19.41,3.62,30.26%,12.50%,4.61%,0.00%
21,483.0,Jie Ming Mandarin Immersion Academy,293.0,47.10,30.03,8.19,31.06,25.60%,26.62%,3.07%,0.00%
30,518.0,Horace Mann School,432.0,49.07,66.90,13.19,3.47,21.53%,9.03%,9.95%,0.46%
37,545.0,Randolph Heights Elementary,447.0,51.68,64.65,13.20,6.26,28.41%,12.30%,5.15%,0.45%
40,557.0,St. Anthony Park Elementary,515.0,50.87,60.97,11.46,11.07,25.44%,16.50%,9.51%,0.00%

#### Reading Data

![title](Graphs/R_Elem1.png)

In [20]:
Reading.query('Num in (518,557,483,545,462)')

,School,Num,Grade,Prof,White_Prof,POC_Prof,Black_Prof,Male_Prof,Female_Prof,FRPL_Prof,NonFRPL_Prof
38,L'Etoile Du Nord French Immersion U,462.0,3.0,0.6230,0.7857,0.4848,0.6923,0.6522,0.6053,0.4286,0.6809
39,L'Etoile Du Nord French Immersion U,462.0,4.0,0.6230,0.8571,0.3077,0.3333,0.6296,0.6176,0.3500,0.7561
40,L'Etoile Du Nord French Immersion U,462.0,5.0,0.8625,0.9000,0.8250,0.9333,0.9259,0.8302,0.7500,0.9107
59,Jie Ming Mandarin Immersion Academy,483.0,3.0,0.8065,NaN,NaN,NaN,0.7692,0.8333,NaN,0.8889
60,Jie Ming Mandarin Immersion Academy,483.0,4.0,0.9643,NaN,NaN,NaN,0.9167,1.0000,NaN,0.9565
61,Jie Ming Mandarin Immersion Academy,483.0,5.0,0.8095,NaN,NaN,NaN,NaN,0.7692,NaN,0.9286
91,Horace Mann School,518.0,3.0,0.7544,0.8372,0.5000,NaN,0.6364,0.8286,NaN,0.8200
92,Horace Mann School,518.0,4.0,0.7541,0.8500,0.5714,NaN,0.8000,0.6923,0.4615,0.8333
93,Horace Mann School,518.0,5.0,0.8077,0.8824,0.6667,0.5000,0.7778,0.8485,0.5000,0.9000
113,Randolph Heights Elementary,545.0,3.0,0.7179,0.8269,0.5000,0.5000,0.5833,0.8333,0.4815,0.8431
114,Randolph Heights Elementary,545.0,4.0,0.7391,0.8000,0.6250,NaN,0.6923,0.8000,0.5000,0.8367
115,Randolph Heights Elementary,545.0,5.0,0.8507,0.9000,0.7778,NaN,0.8710,0.8333,0.6667,0.9348
122,St. Anthony Park Elementary,557.0,3.0,0.6265,0.7111,0.5263,NaN,0.6341,0.6190,0.3636,0.7213
123,St. Anthony Park Elementary,557.0,4.0,0.7059,0.7931,0.5185,NaN,0.7619,0.6512,0.3750,0.7826
124,St. Anthony Park Elementary,557.0,5.0,0.6901,0.9512,0.3333,0.3077,0.5625,0.7949,0.3750,0.8511

#### Math Data

![title](Graphs/M_Elem1.png)

In [ ]:
Math.query('Num in (518,557,483,545,462)')

#### Science Data

In [ ]:
Science.query('Num in (518,557,483,545,462)')

## ES <a name="elem2"></a>

#### Enroll Data

In [15]:
Enroll.query('Num in (435,493,494,463,425)')

,Num,School,Tot_Enroll,Male%,White%,Black%,Asian%,FRP%,ELL%,SPED%,Homeless%
4,425.0,Chelsea Heights Elementary,445.0,52.36,45.62,22.47,12.13,45.17%,19.33%,9.44%,1.35%
8,435.0,Expo For Excellence Elementary Sch,663.0,54.75,58.37,23.98,3.92,33.63%,12.97%,11.16%,1.06%
14,463.0,L'Etoile Du Nord French Immersion L,173.0,36.42,45.66,19.08,6.36,42.20%,18.50%,4.05%,0.00%
25,493.0,Jj Hill Montessori,406.0,50.00,48.03,23.65,7.64,34.48%,21.18%,10.59%,0.00%
26,494.0,Capitol Hill Magnet/Rondo,1254.0,53.03,38.28,22.65,24.96,41.87%,10.53%,5.50%,0.32%

#### Reading Data

![title](Graphs/R_Elem2.png)

In [ ]:
Reading.query('Num in (435,493,494,463,425)')

#### Math Data

![title](Graphs/M_Elem2.png)

In [ ]:
Math.query('Num in (435,493,494,463,425)')

#### Science Data

In [ ]:
Science.query('Num in (435,493,494,463,425)')

## ES <a name="elem3"></a>

#### Enroll Data

In [16]:
Enroll.query('Num in (410,476,534,533,528)')

,Num,School,Tot_Enroll,Male%,White%,Black%,Asian%,FRP%,ELL%,SPED%,Homeless%
0,410.0,Adams Magnet Elementary,616.0,49.19,26.46,15.26,0.32,48.86%,22.08%,6.66%,0.81%
19,476.0,Groveland Park Elementary,402.0,48.51,44.28,27.86,5.72,51.24%,16.17%,10.95%,0.25%
33,528.0,Linwood Monroe Arts Plus Upper,472.0,45.55,29.03,32.20,19.28,62.92%,28.81%,20.97%,1.27%
34,533.0,Nokomis Montessori North Campus,362.0,51.10,22.65,8.56,52.49,58.84%,41.71%,10.77%,1.10%
35,534.0,Nokomis Montessori South Campus,267.0,56.55,25.84,11.99,41.20,55.81%,34.83%,15.36%,0.00%

#### Reading Data

![title](Graphs/R_Elem3.png)

In [ ]:
Reading.query('Num in (410,476,534,533,528)')

#### Math Data

![title](Graphs/M_Elem3.png)

In [ ]:
Math.query('Num in (410,476,534,533,528)')

#### Science Data

In [ ]:
Science.query('Num in (410,476,534,533,528)')

## ES <a name="elem4"></a>

#### Enroll Data

In [17]:
Enroll.query('Num in (491,510,467,465,488)')

,Num,School,Tot_Enroll,Male%,White%,Black%,Asian%,FRP%,ELL%,SPED%,Homeless%
16,465.0,Crossroads Montessori,259.0,49.81,18.15,30.12,21.24,69.88%,22.01%,10.81%,1.93%
18,467.0,Galtier Elementary School,196.0,51.02,27.55,33.67,7.65,67.35%,16.84%,11.73%,5.10%
22,488.0,The Heights Community School,462.0,56.93,9.09,24.46,38.74,69.91%,40.69%,18.40%,1.95%
24,491.0,Highland Park Elementary,385.0,53.77,27.01,49.87,8.05,66.23%,34.29%,7.27%,1.04%
29,510.0,Linwood Monroe Arts Plus Lower,396.0,50.51,29.29,20.20,24.49,66.41%,39.14%,19.44%,1.77%

#### Reading Data

![title](Graphs/R_Elem4.png)

In [ ]:
Reading.query('Num in (491,510,467,465,488)')

#### Math Data

![title](Graphs/M_Elem4.png)

In [ ]:
Math.query('Num in (491,510,467,465,488)')

#### Science Data

In [ ]:
Science.query('Num in (491,510,467,465,488)')

## ES <a name="elem5"></a>

#### Enroll Data

In [18]:
Enroll.query('Num in (428,458,422,482,452)')

,Num,School,Tot_Enroll,Male%,White%,Black%,Asian%,FRP%,ELL%,SPED%,Homeless%
2,422.0,Battle Creek Elementary School,472.0,54.24,7.20,28.81,43.01,73.31%,41.31%,18.01%,1.27%
5,428.0,Cherokee Heights Elementary School,215.0,51.63,18.60,21.86,7.44,71.16%,30.23%,20.93%,3.72%
10,452.0,Eastern Heights Elementary,334.0,54.19,10.18,24.55,41.62,74.55%,46.41%,18.26%,2.40%
11,458.0,Farnsworth Aerospace Lower,479.0,53.24,6.89,11.69,68.68,72.86%,58.25%,8.35%,1.25%
20,482.0,Hamline Elementary School,284.0,54.58,17.96,50.70,11.27,73.94%,21.83%,13.03%,3.87%

#### Reading Data

![title](Graphs/R_Elem5.png)

In [ ]:
Reading.query('Num in (428,458,422,482,452)')

#### Math Data

![title](Graphs/M_Elem5.png)

In [ ]:
Math.query('Num in (428,458,422,482,452)')

#### Science Data

In [ ]:
Science.query('Num in (428,458,422,482,452)')

## ES <a name="elem6"></a>

#### Enroll Data

In [19]:
Enroll.query('Num in (466,464,551,431,460)')

,Num,School,Tot_Enroll,Male%,White%,Black%,Asian%,FRP%,ELL%,SPED%,Homeless%
6,431.0,Como Park Elementary,451.0,53.66,11.75,25.50,44.35,77.83%,44.79%,22.84%,1.33%
12,460.0,Four Seasons Elementary,462.0,47.19,12.77,45.67,16.02,80.09%,34.85%,16.88%,3.46%
15,464.0,Frost Lake Elementary School,535.0,51.59,5.98,22.06,52.52,76.64%,53.08%,14.77%,0.93%
17,466.0,Crossroads Science Program,290.0,51.72,9.66,44.83,26.90,76.21%,29.66%,15.17%,1.03%
38,551.0,Riverview West School Of Excellence,391.0,51.41,7.67,20.20,3.58,76.73%,50.38%,12.02%,1.28%

#### Reading Data

![title](Graphs/R_Elem6.png)

In [ ]:
Reading.query('Num in (466,464,551,431,460)')

#### Math Data

![title](Graphs/M_Elem6.png)

In [ ]:
Math.query('Num in (466,464,551,431,460)')

#### Science Data

In [ ]:
Science.query('Num in (466,464,551,431,460)')

## ES <a name="elem7"></a>

#### Enroll Data

In [ ]:
Enroll.query('Num in (500,541,424,524,433)')

#### Reading Data

![title](Graphs/R_Elem7.png)

In [ ]:
Reading.query('Num in (500,541,424,524,433)')

#### Math Data

![title](Graphs/M_Elem7.png)

In [ ]:
Math.query('Num in (500,541,424,524,433)')

#### Science Data

In [ ]:
Science.query('Num in (500,541,424,524,433)')

## ES <a name="elem8"></a>

#### Enroll Data

In [ ]:
Enroll.query('Num in (579,552,496,578,527)')

#### Reading Data

![title](Graphs/R_Elem8.png)

In [ ]:
Reading.query('Num in (579,552,496,578,527)')

#### Math Data

![title](Graphs/M_Elem8.png)

In [ ]:
Math.query('Num in (579,552,496,578,527)')

#### Science Data

In [ ]:
Science.query('Num in (579,552,496,578,527)')

## ES <a name="elem9"></a>

#### Enroll Data

In [ ]:
Enroll.query('Num in (415,484,558,449)')

#### Reading Data

![title](Graphs/R_Elem9.png)

In [ ]:
Reading.query('Num in (415,484,558,449)')

#### Math Data

![title](Graphs/M_Elem9.png)

In [ ]:
Math.query('Num in (415,484,558,449)')

#### Science Data

In [ ]:
Science.query('Num in (415,484,558,449)')

# Intermediate Schools: District/State Level <a name="int"></a>

#### Reading Data

In [11]:
Reading.query('Num==0 and Grade in (6,7,8)'

,School,Num,Grade,Prof,White_Prof,POC_Prof,Black_Prof,Male_Prof,Female_Prof,FRPL_Prof,NonFRPL_Prof
161,District_All,0.0,3.0,0.3525,0.6891,0.2558,0.2270,0.3281,0.3768,0.2162,0.6019
162,District_All,0.0,4.0,0.3463,0.7038,0.2547,0.1975,0.3293,0.3646,0.2267,0.5962
163,District_All,0.0,5.0,0.4658,0.7725,0.3833,0.3072,0.4259,0.5066,0.3407,0.7223
164,District_All,0.0,6.0,0.3847,0.7359,0.3013,0.2708,0.3539,0.4189,0.2689,0.6507
165,District_All,0.0,7.0,0.3716,0.7137,0.2890,0.2188,0.3336,0.4129,0.2640,0.6129
166,District_All,0.0,8.0,0.3918,0.7479,0.2987,0.2288,0.3644,0.4213,0.2780,0.6347
167,District_All,0.0,10.0,0.4586,0.7739,0.3704,0.2714,0.4244,0.4929,0.3416,0.6713
168,State_All,0.0,3.0,0.5461,0.6366,0.3847,0.3242,0.5163,0.5771,0.3555,0.6720
169,State_All,0.0,4.0,0.5543,0.6534,0.3805,0.3072,0.5257,0.5846,0.3568,0.6860
170,State_All,0.0,5.0,0.6577,0.7492,0.4919,0.4179,0.6263,0.6903,0.4741,0.7798
171,State_All,0.0,6.0,0.6281,0.7206,0.4581,0.3805,0.5949,0.6626,0.4376,0.7502
172,State_All,0.0,7.0,0.5749,0.6578,0.4138,0.3201,0.5349,0.6170,0.3804,0.6913
173,State_All,0.0,8.0,0.5771,0.6544,0.4221,0.3308,0.5209,0.6357,0.3820,0.6877
174,State_All,0.0,10.0,0.6040,0.6712,0.4460,0.3413,0.5560,0.6544,0.4095,0.6959

#### Math Data

In [ ]:
Math.query('Num==0 and Grade in (6,7,8)')

#### Science Data

In [ ]:
Science.query('Num==0 and Grade in (6,7,8)')

## MS <a name="int1"></a>

#### Enroll Data

In [ ]:
Enroll.query('Num in (330,342,345)')

#### Reading Data

In [ ]:
Reading.query('Num in (330,342,345)')

#### Math Data

In [ ]:
Math.query('Num in (330,342,345)')

#### Science Data

In [ ]:
Science.query('Num in (330,342,345)')

## MS <a name="int2"></a>

#### Enroll Data

In [ ]:
Enroll.query('Num in (344,315,310)')

#### Reading Data

In [ ]:
Reading.query('Num in (344,315,310)')

#### Math Data

In [ ]:
Math.query('Num in (344,315,310)')

#### Science Data

In [ ]:
Science.query('Num in (344,315,310)')

# High Schools: District/State Level <a name="high"></a>

#### Reading Data

In [ ]:
Reading.query('Num==0 and Grade in (9,10,11,12)')

#### Math Data

In [ ]:
Math.query('Num==0 and Grade in (9,10,11,12)')

#### Science Data

In [ ]:
Science.query('Num==0 and Grade in (9,10,11,12)')

## HS <a name="high1"></a>

#### Enroll Data

In [ ]:
Enroll.query('Num in (220,210,212)')

#### Reading Data

In [ ]:
Reading.query('Num in (220,210,212)')

#### Math Data

In [ ]:
Math.query('Num in (220,210,212)')

#### Science Data

In [ ]:
Science.query('Num in (220,210,212)')

## HS <a name="high2"></a>

#### Enroll Data

In [ ]:
Enroll.query('Num in (215,230)')

#### Reading Data

In [ ]:
Reading.query('Num in (215,230)')

#### Math Data

In [ ]:
Math.query('Num in (215,230)')

#### Science Data

In [ ]:
Science.query('Num in (215,130)')

In [4]:
#Run Code
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline 
import requests # library to handle requests
import folium
import seaborn as sns
import scipy.stats as stats #used to get correlation coefficient

#load data
Enroll= pd.read_csv('SPEnrollment.csv')
Math= pd.read_csv('SPMath.csv')
Reading= pd.read_csv('SPReading.csv')
Science= pd.read_csv('SPScience.csv')

In [7]:
Enroll.query('Num in (518,557,483,545,462)')
Math.query('Num in (518,557,483,545,462)')


#Enroll.query()

,School,Num,Grade,Prof,White_Prof,POC_Prof,Black_Prof,Male_Prof,Female_Prof,FRPL_Prof,NonFRPL_Prof
38,L'Etoile Du Nord French Immersion U,462.0,3.0,0.6230,0.7857,0.4848,0.6923,0.6957,0.5789,0.4286,0.6809
39,L'Etoile Du Nord French Immersion U,462.0,4.0,0.6000,0.8571,0.2400,0.2857,0.5385,0.6471,0.3500,0.7250
40,L'Etoile Du Nord French Immersion U,462.0,5.0,0.7125,0.8250,0.6000,0.7333,0.7407,0.6981,0.4583,0.8214
59,Jie Ming Mandarin Immersion Academy,483.0,3.0,0.9032,NaN,NaN,NaN,0.8462,0.9444,NaN,0.9259
60,Jie Ming Mandarin Immersion Academy,483.0,4.0,1.0000,NaN,NaN,NaN,1.0000,1.0000,NaN,1.0000
61,Jie Ming Mandarin Immersion Academy,483.0,5.0,0.8571,NaN,NaN,NaN,NaN,0.8462,NaN,0.9286
91,Horace Mann School,518.0,3.0,0.8421,0.9070,0.6429,NaN,0.7727,0.8857,NaN,0.9000
92,Horace Mann School,518.0,4.0,0.7869,0.9000,0.5714,NaN,0.7429,0.8462,0.4615,0.8750
93,Horace Mann School,518.0,5.0,0.5769,0.6667,0.4074,0.2000,0.6000,0.5455,0.2222,0.6833
113,Randolph Heights Elementary,545.0,3.0,0.8333,0.9615,0.5769,0.4167,0.7500,0.9048,0.5926,0.9608
114,Randolph Heights Elementary,545.0,4.0,0.7826,0.8889,0.5833,NaN,0.7949,0.7667,0.3500,0.9592
115,Randolph Heights Elementary,545.0,5.0,0.6418,0.7250,0.5185,NaN,0.6774,0.6111,0.5238,0.6957
122,St. Anthony Park Elementary,557.0,3.0,0.6627,0.7778,0.5263,NaN,0.7073,0.6190,0.4091,0.7541
123,St. Anthony Park Elementary,557.0,4.0,0.7647,0.8448,0.5926,NaN,0.8095,0.7209,0.4375,0.8406
124,St. Anthony Park Elementary,557.0,5.0,0.5634,0.7805,0.2667,0.3077,0.5625,0.5641,0.3750,0.6596

In [3]:
Enroll.columns

Index(['School_Num', 'School_Name', 'Tot_Enroll', 'Male%', 'White%', 'Black%',
       'Asian%', 'FRP%', 'ELL%', 'SPED%', 'Homeless%'],
      dtype='object')